* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

a {
    color: white;
}

header {
    background-color: #EE6D52;
    height: 70vh;
    margin-bottom: 40px;
    width: 100%;
    padding: 0 25px;
}

.header-container {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;

}

.logo-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

.logo {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio-button {
    text-decoration: none;
    color: #EE6D52;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    background-color: white;
    border-radius: 40px;
}

.intro-wrapper {
    width: 100%;
    text-align: center;
    height: calc(100% - 65px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-wrapper h3 {
    color: white;
    margin-bottom: 15px;
}

.intro-wrapper p {
    color: white;
    margin-bottom: 35px;
}

input {
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    padding: 13px 20px;
    border-radius: 50px;
    border: 1.5px solid white;
    background-color: #EE6D52;
    color: white;
}

input::placeholder {
    color: white;
    font-size: 16px;
}

input:focus {
    outline: none;
}

#content-container {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr))
}

.page-container {
    padding: 0 25px;
    margin: 0 auto;
}

.employee-container {
    padding: 20px;
    background-color: #FBFBFB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}


.employee-container .employee-image {
    margin-right: 15px;
    border-radius: 10px;
    width: 40%;
}

.employee-container img {
    border-radius: 10px;
    width: 100%;
}

.employee-text .employee-location {
    color: #C0C0C0;
}

.employee-container div p:first-child {
    font-weight: 600;
    font-size: 16px;
}

.overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed; /* Sit on top of the page content */
    width: 100vw; /* Full width (cover the whole page) */
    height: 100vh; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}

.modal-window {
    display: none;
    max-width: 400px;
    width: 90%;
    height: 450px;
    background-color: white; 
    border-radius: 10px;
 }

 .modal-content {
     display: flex;
     flex-direction: column;
     padding: 40px;
     align-items: center;
     height: 100%;
 }

 .modal-content p {
     text-align: center;
     color: grey;
     margin-bottom: 10px;
     padding: 0 30px; 
 }


 .modal-content h3 {
    margin-bottom: 10px; 
}
 
 .modal-image {
     width: 130px;
     border-radius: 100%;
     margin-bottom: 20px;
 }

 .modal-line {
     width: 100%;
     border-bottom: 1px solid lightgrey;
     margin-bottom: 20px;
     margin-top: 10px;
 }

 footer {
     background-color: #F9F9F9;
 }

 .footer-container {
     text-align: center;
     padding: 60px 20px 20px;
 }

 .footer-logo {
     color: #F97E47;
     font-size: 18px;
     font-weight: 700;
     text-transform: uppercase;
     padding-bottom: 10px;
 }

 .footer-logo-text {
     color: #C0C0C0;
     margin-bottom: 40px;
 }

 .footer-button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 25px;
    background-color: #D1D0D0;
    border-radius: 40px;
}

.footer-nav {
    color: #C0C0C0;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.footer-nav a {
    display: block;
    color: #C0C0C0;
    text-decoration: none;
    padding: 10px 0;
}

.copyright {
    color: #C0C0C0;
    font-size: 14px;
    margin-top: 40px;

}


 @media (min-width: 425px) {

    header {
        height: 60vh;
        padding: 0 35px;
    }

    .logo-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
    }

    .employee-container {
        padding: 30px;
    }

    .employee-text .employee-location {
        font-size: 18px;
    }
    
    .employee-container div p:first-child {
        font-size: 20px;
    }
  }

  @media (min-width: 768px) {

    header {
        height: 50vh;
        padding: 0 50px;
        margin-bottom: 50px;
    }

    .logo-bar {
        padding-top: 40px;
    }

    .intro-wrapper {
        width: 80%;
        height: calc(100% - 80px);
    }
    
    .intro-wrapper h3 {
        font-size: 25px;
    }
    
    .intro-wrapper p {
        margin-bottom: 60px;
    }
    
    input {
        max-width: 450px;
        padding: 15px 25px;
    }

    .page-container {
        padding: 0 50px;
        margin: 0 auto;
    }

    #content-container {
        grid-gap: 50px;
    }

  }

  @media (min-width: 1280px) {

    header {
        height: 60vh;
    }

    .intro-wrapper {
        width: 100%;
        height: calc(100% - 90px);
    }
    
    .intro-wrapper h3 {
        font-size: 35px;
    }
    
    .intro-wrapper p {
        margin-bottom: 40px;
        max-width: 600px;
    }
    
    input {
        max-width: 550px;
        padding: 15px 25px;
    }

    .portfolio-button {
        font-size: 16px;
        padding: 13px 25px;;
    }

    
    #content-container {
        max-width: 1300px;
        margin: 0 auto;
        padding-bottom: 40px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    }

  }

  @media (min-width: 1300px) {

    header {
        height: 50vh;
        margin-bottom: 60px;
    }
    
    .logo {
        color: white;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

    #content-container {
        max-width: 1300px;
        grid-gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
    }
    
    .employee-container .employee-image {
        margin-right: 30px;
        border-radius: 10px;
        width: 40%;
    }

  }